*{
  font-family: 'Poppins', sans-serif;

}
body{
  background-color:  #f3e7de;
}

.sanskrit-button{
  background-color:  #ba7a68;
  border: none;
  color: white;
  cursor: pointer;
}

.select-dropdown{
  cursor: pointer;
}

.translation-div, .suggestions{
  background-color: #ccc2b6;
  justify-content: space-between;
  margin: 20px;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  max-width: 100%;
}

.suggestions{
  flex-wrap: wrap;
}

.pose-benefits{
  width: 600px;
  margin-right: 40px;
}

.parent-container{
  text-align: center;
}

.container-bars{
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  border: 3px solid rgba(0,0,0,0.1);
  border-radius: 5px;
}

.dropdown-image{
  width: 40vh;
  height: 40vh;
}

.suggestions li{
  list-style: none;
}

.image-black-figures{
  width: 20vh;
  height: 20vh;
  display: flex;
}

.image-color-figures{
  width: 30%;
  height: auto;
  float: right;
}

.categories-list{
  display: flex;
  height: 50vh;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 5px;
  margin: 20px;
  background-color:  #d0d5d2;
  border-radius: 30px;
}

.categories-list li{
  list-style: none;
  width: calc(33.33% - 20px);
  align-items: center;
}

.description-image{
  display: flex;
}

.category-description{
  font-size: small;
  width: 70%;
  flex: 1;
}

.no-results{
  margin: 20px;
}

@media (max-width:1024px) {
  .categories-list {
    margin: 10px; 
    padding-left: 30px;
    height: 40vh;
  }

  .description-image{
    width: 130%;
    height: auto;
  }

  .category-description{
    display: none;
  }

  .category-name {
    font-size: 13px;
  }

  .sanskrit-button{
    font-size: 12px;
  }

  .select-dropdown{
    font-size: 12px;
  }

  .search{
    font-size: 12px;
  }

  .container-bars > *:nth-child(3) {
    height: 80%;
  }

  .translation-div, .suggestions{
    font-size: 14px;
  }

  .dropdown-image{
    width: 150px;
    height: 150px;
  }

  .suggestions{
    font-size: 13px;
  }
}